[package]
name = "casperclicker-contract"
version = "1.0.0"
edition = "2021"

[dependencies]
casper-contract = "3.0.0"
casper-types = "3.0.0"

[profile.release]
codegen-units = 1
opt-level = "z"
lto = true

[lib]
crate-type = ["cdylib", "rlib"]
path = "src/lib.rs"
